@charset "UTF-8";

body {
    margin: 12px;/*隙間ゼロ*/
    box-sizing: border-box;/*全体のサイズを計算*/
}

/*ページタイトル*/
.title-container {
    max-width: 1100px;
    margin: 0 auto 20px auto;
    text-align: left;
}
.title-container h1 {
    display: inline-block;
    font-size: 16px;
    color: #e67e22; /* 設計図のオレンジ */
    background-color: #fffdfb;
    border: 2px solid #fcdbbf; 
    border-radius: 6px;
    padding: 8px 16px;
    margin: 0;
}

/*リスト非表示*/
.employees-card {
    display: none !important;
}

/*ーーーーカードを横に３列並べる*/
.card-container {
    display: flex;
    flex-wrap: wrap; /*3つ並んだら自動で下に落ちる魔法の命令 */
    gap: 25px;       /* カード同士の縦横のすき間 */
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 120px auto; /* 下の牛に被らないように下の余白を確保 */
    text-align: left;
}

/*ーーーー従業員カードーーーー*/
.employee-card {
    width: 350px;   /* 3つ並べたときにぴったり1100pxに収まる幅 */
    background-color: #f3faf2; /*薄緑 */
    border: 2px solid #d3edd2; /*黄緑の線 */
    border-radius: 12px;       /*角丸 */
    padding: 20px;
    box-sizing: border-box;
    position: relative;        /* ⑦の編集ボタンを右下に浮かせるための基準線 */
    min-height: 180px;         /* カードの高さの最低保証 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.02); /*ほんのり優しい影*/
}

/* カードの中の文字（ID、名前、性別など） */
.card-info {
    color: #2e7d32;     /* 読みやすい濃い緑文字 */
    line-height: 1.8;   /*改行の行間*/
    font-weight: bold;  /* 文字をくっきり太めに */
   
}

/*ーーーー編集ボタンーーーーー*/
.edit-button {
    position: absolute;/*右下に浮かせる*/
    bottom: 20px;/*カード下端から*/
    right: 20px;/*カードの右端*/
    width: 80px;/*横幅*/
    height: 34px;/*高さ*/
    background-color: #01bdf1; /* ログインボタンの水色 */
    color: white;/*文字白*/
    font-weight: bold;/*文字太め*/
    border: 1px solid #00a5d4;/**/
    border-radius: 10px; /*丸めのボタン*/
    align-items: center !important;/*文字上下真ん中*/
    justify-content: center;/*文字左右真ん中*/
    transition: background-color  0.2s;/*色少し変える*/
}

/*編集ボタンにマウスを乗せたとき*/
.edit-button:hover {
    background-color: #aadcea; /*ログインと同じ色のボタン*/
    cursor: pointer;/*矢印指マーク*/
}
